* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

.left-section {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.logo {
    max-width: 40%;
    height: auto;
}

.right-section {
    flex: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 30px; /* Grotere tekst */
    font-family: 'Inter', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;

}

.register-form {
    width: 100%;
    max-width: 350px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: white;  /* Labels wit maken */
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid white; /* Witte rand voor contrast */
    border-radius: 5px;
    font-size: 16px;
    color: white;  /* Tekst in invoervelden wit */
    background-color: transparent;  /* Achtergrond transparant houden */
}

.submit-btn {
    background-color: #1DA1F2;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Knop langer maken */
}

.submit-btn:hover {
    background-color: #0d95e8;
}

.submit-btn:focus {
    outline: none;
}
